<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order <%= order.status === "Delivered" ? "Success" : "Failed" %></title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<p>
    Thank you for shopping in our store, please follow our store, there will be promotional items in the future.
    Total price: <%= order.items.reduce((total, item) => total + item.qty * item.price, 0) %>$
</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price per quantity</th>
            <th>Total price of product</th>
        </tr>
    </thead>
    <tbody>
        <% for (let item of order.items) { %>
            <tr>
                <td width="70%"><%= item.name %></td>
                <td width="10%"><%= item.qty %></td>
                <td width="20%"><%= item.price %> $</td>
                <td width="20%"><%= item.qty * item.price %> $</td>
            </tr>
        <% } %>
    </tbody>
</table>

</body>
</html>
